<div ng-cloak>
    <div class="panel panel-default" id="homework-panel">
        <div class="panel-heading">
            <h3 class="panel-title">Homework</h3>
        </div>
        <div class="panel-body">

            <div class="form-inline" id="class-form">
                <label for="class-select" class="mr-sm-2">Class: </label>
                <select class="form-control mb-2 mr-sm-2 mb-sm-0" id="class-select" ng-options="c.id as c.className for c in vm.instructingClasses" ng-model="vm.homework.classId"></select>
            </div>
            <fieldset class="tool-fieldset" ng-repeat="q in vm.questions">
                <legend class="tool-legend" id="run-legend">Question {{ q }}</legend>
                <div class="form-inline">
                    <select class="form-control" ng-options="qu.id as qu.question for qu in vm.possibleQuestions" ng-model="vm.homework.questions[q].selectedQuestion"></select>
                    <input type="text" class="form-control" placeholder="Automaton input" ng-if="vm.homework.questions[q].selectedQuestion === 1" ng-model="vm.homework.questions[q].context">
                    <select class="form-control" ng-if="vm.homework.questions[q].selectedQuestion === 2" ng-options="s.json as s.automatonName for s in vm.savedAutomata" ng-model="vm.homework.questions[q].context"></select>
                </div>
            </fieldset>
            <button class="btn btn-primary" ng-click="vm.addQuestion()">Add Question</button>
            <button class="btn btn-success" ng-click="vm.setHomework()">Set Homework</button>
        </div>
    </div>
</div>