<div ng-cloak>
    <div id="transitionModal" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
        ...
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" ng-click="vm.addTransition()">OK</button>
         </div>
        </div>
    </div>
    </div>

    <div id="cyCanvas">
    </div>

<div id="tools" class="panel panel-default">
    <div class="panel-heading text-center">Tools</div>
    <div class="panel-body">
        <div id="actions" class="btn-group-vertical">
            <button type="button" ng-click="vm.simulate()" class="btn btn-default">Simulate DFA</button>
            <button type="button" ng-click="vm.simulateNfa()" class="btn btn-default">Simulate NFA</button>
            <button type="button" ng-click="vm.getNextStep(false)" class="btn btn-default">Next Step DFA</button>
            <button type="button" ng-click="vm.getNextStep(true)" class="btn btn-default">Next Step NFA</button>
            <button type="button" ng-click="vm.getAllSteps()" class="btn btn-default">Complete Simulation</button>
            <button type="button" ng-click="vm.convertNfaToDfa()" class="btn btn-default">Convert NFA to DFA</button>
            <button type="button" ng-click="vm.convertNfaToDfa()" class="btn btn-default">Test</button>
            <button type="button" ng-click="vm.convertNfaToDfa()" class="btn btn-default">Save</button>
            <button type="button" ng-click="vm.convertNfaToDfa()" class="btn btn-default">Load</button>
        </div>
    </div>
</div>

<div id="simulation-panel" class="panel panel-default" ng-show="true">
    <div class="panel-heading text-center">Simulation</div>
    <div class="panel-body">
        <div class="form-group">
            <label for="current-input">Input:</label>
            <input type="text" id="current-input" class="form-control" readonly>
        </div>
        <div class="form-group">
            <label for="current-symbol">Current Symbol:</label>
            <span id="current-symbol">a</span>
        </div>
        <div class="form-group">
            <button type="button" id="sim-fast-backward" ng-click="" class="btn btn-default btn-sm fa fa-fast-backward"></button>
            <button type="button" id="sim-step-backward" ng-click="" class="btn btn-default btn-sm fa fa-step-backward"></button>
            <button type="button" id="sim-pause" ng-click="" class="btn btn-default btn-sm fa fa-pause"></button>
            <button type="button" id="sim-step-forward" ng-click="" class="btn btn-default btn-sm fa fa-step-forward"></button>
            <button type="button" id="sim-fast-forward" ng-click="" class="btn btn-default btn-sm fa fa-fast-forward"></button>
        </div>
    </div>
</div>

</div>