<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Regex to NFA</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="form-group">
        Generate an NFA from a provided Regular Expression.
    </div>
    <form name="regexForm">
        <div class="form-group">
            <label for="name">Regular Expression:</label>
            <input name="regex" type="text" class="form-control" id="regex" ng-model="vm.regex" required>
            <span ng-show="regexForm.regex.$touched && regexForm.regex.$invalid" class="error-text">You must input a regular expression.</span>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-success" type="button" ng-click="vm.ok()" ng-disabled="regexForm.regex.$invalid">Create NFA</button>
    <button class="btn btn-warning" type="button" ng-click="vm.cancel()">Cancel</button>
</div>