#toolbox {
    border: 1px solid black;
    width: 50px;
    height: 600px;
    float: left;
    clear: both;
    margin-left: 1px;

    & img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5px;
    }

}

.connector-label {
    margin: -10px;
}

#editorzoom {
    z-index: 99999;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 10px;
}

#zoomcontainer {
    position: relative;
    margin-left: 50px;
}

.popover {
    min-width: 300px;
}

#cyCanvas {
    width: 100%;
    height: 100%;
}

#full-page-editor {
    height: 80%;

    div.ng-scope {
        height: 100%;
    }

}

#wrapper {
    height: 100%;
}

#tools {
    position: absolute;
    top: 100px;
    left: 5px;
    z-index: 999;
    background-color: #fafafa;
}

#info {
    position: absolute;
    top: 55px;
    right: 0px;
    z-index: 999;
}

#toast-container .toast {
  margin-top: 20px;
  -moz-box-shadow: 0 0 12px #000000;
  -webkit-box-shadow: 0 0 12px #000000;
  box-shadow: 0 0 12px #000000;
  opacity: 1;
  cursor: pointer;
}

.form-actions {
    margin: 0;
    text-align: center;
}

.qtip-content > .form-group {
    margin-bottom: 10px;
}

.cy-panzoom {
    bottom: 330px;
    right: 50px;
}

#simulation-panel {
    position: absolute;
    top: 100px;
    z-index: 999;
}

.ui-tooltip {
    z-index: 999;
}

#sim-close {
    margin-top: 5px;
    margin-right: 5px;
}

#cy-context-menus-cxt-menu {
    min-width: 160px;
    padding: 5px 0px;
    margin: 2px 0 0;
    list-style: none;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    background-clip: padding-box;
}

.cy-context-menus-cxt-menuitem {
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 20px;
    color: #333333;
    white-space: nowrap;
    width: 100%;
    background-color: #ffffff;
    font-size: 14px;

    &:hover {
        background-color: #e6e6e6;
        color: #333333;
    }
}

mark {
    background: orange;
    color: black;
}

.mark-accept {
    background: #51A351;
    color: black;
}

.mark-reject {
    background: red;
    color: black;
}

.error-text {
    color: red;
}
