#toolbox {
    border: 1px solid black;
    width: 50px;
    height: 600px;
    float: left;
    clear: both;
    margin-left: 1px;

    & img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5px;
    }

}

.connector-label {
    margin: -10px;
}

#editorzoom {
    z-index: 99999;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 10px;
}

#zoomcontainer {
    position: relative;
    margin-left: 50px;
}

.popover {
    min-width: 300px;
}

#cyCanvas {
    width: 100%;
    height: 100%;
}

#full-page-editor {
    height: 80%;

    div.ng-scope {
        height: 100%;
    }

}

#wrapper {
    height: 100%;
}

#tools {
    position: absolute;
    top: 100px;
    left: 5px;
    z-index: 999;
    background-color: #fafafa;
}

#info {
    position: absolute;
    top: 55px;
    right: 0px;
    z-index: 999;
}

#toast-container .toast {
  margin-top: 20px;
  -moz-box-shadow: 0 0 12px #000000;
  -webkit-box-shadow: 0 0 12px #000000;
  box-shadow: 0 0 12px #000000;
  opacity: 1;
  cursor: pointer;
}

.form-actions {
    margin: 0;
    text-align: center;
}

.qtip-content > .form-group {
    margin-bottom: 10px;
}

.cy-panzoom {
    bottom: 330px;
    right: 50px;
}

#simulation-panel {
    position: absolute;
    right: 100px;
    top: 100px;
    z-index: 999;
}

.ui-tooltip {
    z-index: 999;
}
